.carrinho-container {
  position: relative;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -600px;
  width: 600px;
  height: 100%;
  background-color: #fff;
  transition: right 0.3s ease;
  z-index: 999;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar-open {
  right: 0;
}

.toggle-button {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background-color: blue;
  width: 75px;
  height: 75px;
}

.open {
  right: 0;
}

.carrinho-conteudo {
  margin-top: 20px;
  text-align: center;
}

.titulo {
  text-align: center;
  margin-bottom: 20px;
}

.carrinho-item {
  margin-top: 10px;
  text-align: left;
  margin-left: 0;
  margin-bottom: 20px;
}

.item-foto {
  width: 100%;
  max-width: 100px;
  height: auto;
  border-radius: 5px;
}

.conteudo-item {
  padding-left: 20px;
}

.botoes {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.botao-plus,
.botao-minus {
  margin: 0 5px;
  border: none;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
}